<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729390628627-on657br0absce03t8kkgmdpqe9f4dodm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729390628627-on657br0absce03t8kkgmdpqe9f4dodm</string>
	<key>API_KEY</key>
	<string>AIzaSyCKOCQNf1wt0-42kGfyz4TbJAwDaNy0AwM</string>
	<key>GCM_SENDER_ID</key>
	<string>729390628627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wisd-talk.app</string>
	<key>PROJECT_ID</key>
	<string>wisd-talk</string>
	<key>STORAGE_BUCKET</key>
	<string>wisd-talk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729390628627:ios:f35a2e7c574ffc92fbe4e6</string>
</dict>
</plist>